@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
    font-family: Outfit;
}
body {
  margin: 0;
  background-color: #e5e7eb; /* same as bg-gray-200 */
}
.placeholder-color{
  color:#e0e0e0;
  font-weight: 300;
}